:host >>> .bar {
  fill: steelblue;
}

:host >>> .axis text {
  font: 10px sans-serif;
}

:host >>> .axis path,
:host >>> .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host >>> .x.axis path {
  display: none;
}